<% layout("layouts/boiler") %>

<% style = `
<link rel="stylesheet" href="/css/chat.css">
` %>

  <header>
    <div class="head">
      
      <a href="/pigeon"><i class="fa-solid fa-arrow-left"></i></a>
      <div class="dp">
        <img src="<%= friend.profile?.url || '/images/profile.png' %>">
      </div>
      <div class="name"><%=name%></div>
    </div>
  </header>
  <main>
    <div class="chat">
      <% for(message of messages){ %>
      <% if(user._id.toString() == message.sender.toString()){ %>
      <div class="message"><%=message.message%><span 
          class="time"
          data-time="<%= message.createdAt %>">
        </span></div>
      <% } else{ %>
      <div class="message receiver"><%=message.message%><span 
          class="time"
          data-time="<%= message.createdAt %>">
        </span></div>
      <% } %>
      <% } %>
    </div>
    <div class="input">
      <input type="text" name="message" placeholder="Message" class="user-input">
      <button class="send-btn"><span class="material-symbols-outlined">send</span></button>
    </div>
  </main>
  <script>
    const sender = "<%= user._id %>"
    const conversation = "<%=convoId%>"
  </script>
  <script type="module" src="/js/chat.js"></script>
